# Welcome to :snowflake: Snowflake Notebooks :notebook:

Combine SQL and python in new ways to bring 
your data analysis to the next level ‚ö°Ô∏è

This tutorial will demo a few ways to use Snowflake Notebooks including:
- Instant connection and authentication
- SQL analysis
- SQL and Python interwoven together
- Pandas and data vizualization in Altair
- Streamlit interactivity
---
## Fast Connection and Authentication ‚ö°Ô∏è

Click the start button takes a few seconds to connect and then we're fully authenticated and set up -- ready to query our data!

---
## Chaining SQL cells together
It's really easy to keep working and iterating on a query by 
simply referencing the previous query in the `FROM` clause.

```sql
-- Subquery a SQL call
SELECT * FROM {{cell1}} where VAR = 9
```

## SQL and python references
To convert a SQL table into python
cell you can use the `cellX.to_pandas()` call. 
```python
# Convert a SQL cell into a pandas dataframe
my_df = cell1.to_pandas()
``` 
Likewise, you can use python variable names in SQL directly.
```sql
-- use a Pandas dataframe within SQL
SELECT * FROM my_data where VAR = {{my_python_value}}
```
---
## Beautiful charts are ready to go with Altair, Plotly, or Matplotlib üìä
Just install whichever charting packages you like most and use them directly in the notebook.

---
## Supercharged interactivity with Streamlit üîã
We can use Streamlit input functions like `st.slider` or `st.date_input` to make our notebook more friendly to play with.

---
## Keyboard Shortcuts
These can help you navigate around your notebook more quickly
| Command | Shortcut |
| --- | ----------- |
| **Run this cell and advance** | SHIFT + ENTER |
| **Run this cell only** | CMD + ENTER |
| **Run all cells** | CMD + SHIFT + ENTER |
| **Add cell BELOW** | b |
| **Add cell ABOVE** | a |
| **Search/Replace** | CMD + F|

In [ ]:
import streamlit as st
import pandas as pd
import altair as alt
from snowflake.snowpark.context import get_active_session

st.write("imports ready!")

### :snowflake: Example Movie Analysis Notebook :notebook:
In this notebook, we will query some example data and do
a variety of manipulations to show you the ropes ü™¢

To start off, let's query some movie data from the `samples` database

In [ ]:
-- You can query Snowflake directly with SQL. 
select  
    movies.movieid, 
    title,  
    avg(rating) as avg_rating 
from samples.movielens.movies movies
left join samples.movielens.ratings ratings
    on movies.movieid = ratings.movieid
    and movies.movieid < 10000
group by 1,2
having avg_rating > 0 
order by avg_rating asc;

In [ ]:
select * from {{query_data}} where avg_rating > 4

In [ ]:
col1, col2 = st.columns(2)

with col1:
    st.subheader("Original Data")
    st.dataframe(query_data.to_pandas())
with col2:
    st.subheader("Filtered Data")
    st.dataframe(sql_chain.to_pandas())

# col1, col2 = st.columns(2)
# with col1:
#     st.dataframe(query_data.to_pandas())
# with col2:
#     st.header("Filtered Data for AVG_RATING > 4")
#     st.dataframe(sql_chain.to_pandas())

In [ ]:
# We can easily make charts using this data!
st.markdown("## :bar_chart: Let's make a couple of contrasting charts to compare the data")

def altair_chart(movie_df, color):
    '''Create an altair chart for our movie data'''

    # Convert the types to floats
    movie_df['AVG_RATING'] = movie_df['AVG_RATING'].astype('float')
    
    # Make the chart
    movie_chart = alt.Chart(movie_df).mark_bar(color = color).encode(
        alt.X("AVG_RATING:Q", bin=True),
        y='count()',
    ) 
    st.altair_chart(movie_chart, use_container_width=True)


col1, col2 = st.columns(2)
with col1:
    st.subheader("Original Data")
    movie_df = pd.DataFrame(query_data.to_pandas())
    altair_chart(movie_df, '#9abae1')
with col2:
    st.subheader("Filtered Data")
    filtered_df = pd.DataFrame(sql_chain.to_pandas())
    altair_chart(filtered_df, '#237e76')

In [ ]:
st.markdown("# :hand: Streamlit interactivity ")
st.markdown("Let's search for a movie title and see if we can find it!")
movie_search_term = st.text_input("Enter a movie title term", "snow")

In [ ]:
select * from {{query_data}} where title ilike '%{{movie_search_term}}%'

## :white_check_mark: In summary, we saw
- Instant connection and authentication
- SQL and Python interwoven together
- Chaining SQL queries
- Pandas and data vizualization in Altair
- Streamlit Interactivity

### Try it out yourself and show off what you can build ‚ùÑÔ∏è